/*This is contact page  Background image setup */
.contact{
    background-image: url("https://i.ibb.co/jrtzj7J/miles-burke-idhx-MOCDSk-unsplash-1.jpg");
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    width: 95vw;
    height: 65vw;
}